In [22]:
import pandas as pd
import numpy as np

In [4]:
users = pd.read_csv('data/lfm/75percent_subset_users.tsv', sep='\t')
users.head()

   user_id country  age gender        creation_time
0        2      UK   35      m  2002-10-29 01:00:00
1       14      UK   48      m  2003-02-18 21:44:13
2       15      US   28      m  2003-02-24 03:30:33
3       36      UK   29      m  2003-03-27 12:17:12
4       42      RU   30      m  2003-04-10 01:07:48

In [5]:
le = pd.read_csv('data/lfm/75percent_subset_listening_events.tsv', sep='\t')
le.head()

   user_id  track_id  album_id            timestamp
0    16026  40012596  18558010  2020-01-01 00:00:01
1    14807  21889387  16391976  2020-01-01 00:00:03
2    23625  16551011   9087976  2020-01-01 00:00:03
3    24008  39377924  19382688  2020-01-01 00:00:03
4    53114  17002235  19089164  2020-01-01 00:00:04

In [12]:
len(users)

9724

In [21]:
core_sm = 0
male_event_counts = []
female_event_counts = []
for user_id in users.user_id:
    events = le[le.user_id == user_id]
    gender = users[users.user_id == user_id].gender.item()
    if gender == 'm':
        male_event_counts.append(len(events))
    else:
        female_event_counts.append(len(events))

In [23]:
np.mean(male_event_counts)

495.2683143219265

In [24]:
np.mean(female_event_counts)

397.54689203925847